.margin-top-10{
    margin-top:10px;
}
.margin-top-20{
  margin-top:20px;
}
.margin-top-30{
  margin-top:30px;
}
.margin-top-40{
  margin-top:40px;
}
.margin-top-50{
  margin-top:50px;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.3); /* IE */
  -moz-transform: scale(1.3); /* FF */
  -webkit-transform: scale(1.3); /* Safari and Chrome */
  -o-transform: scale(1.3); /* Opera */
  transform: scale(1.3);
}

.hoverable:hover {
    background-color: #eee;
    cursor:pointer;
}

.hoverable.active{
  background-color:#eff;
}

.nav-link{
  cursor:pointer;
}

#configurations label.label-form{
  font-weight: 10!important;
}

.config-table >tbody >tr >td,.config-table >thead >tr >th {
  padding-right: 30px!important;
  border-top:none!important;
  padding-left:0px!important;
}

.dropzone{
  background:url(../img/updown.png) no-repeat;
  background-position:center;
  background-size:35px;
}

.dropzone:hover{
  background-color: rgba(200,250,255,0.2) !important;
}

.dropzone .pull-left{
  float:left!important;
}

.dropzone .pull-right{
  float:right!important;
}

.dropzone.selected{
  outline: black!important;
  outline-style: auto!important;
  outline-width: 5px!important;
  z-index:1;
}

.btn-close{
  background: rgba(0,0,0,0);
  border: 0;
  transform: scale(1.8,1.2);
  color: #555!important;
}

.select-sized, .select-sized td {
  line-height:35px;
}

i.action-icon{
  cursor:pointer;
  margin-top: 11px;
  color:#000;
}

i.action-icon:hover {
  color: #666;
}

.hide{
  display:none;
}

.line-margin{
  margin-left:5px;
  margin-top:5px;
}

.green-color{
  color:rgb(0, 116, 6);
}

.red-color{
  color:rgb(148, 1, 1);
}


.config-block-image{
  max-width:600px;
}


.interests-holder{
  width: 100%;
  height: 150px;
  border: 1px solid #999;
  border-radius: 5px;
  cursor: text;
  padding: 10px;
  list-style: none;
  overflow-y:scroll;
  overflow-x:hidden;
}

.interests-holder > li{
  margin: 5px;
  float: left;
}

input#interests-input.interests-input, input#interests-input.interests-input:focus-visible{
  outline:none!important;
  border-radius:none!important;
  border: 1px solid rgb(0, 132, 255)!important;
  max-width:300px;
  padding:8px;
}


.badge{
  background-color: #666;
  border-radius: 15px!important;
  padding: 5px 10px!important;
  color: #fff;
  cursor:pointer;
  line-height: 20px!important;
}

.badge i {
  position: relative;
  left: 5px;
}

.badge:hover > i{
  top: 2px;
  font-size: 12pt;
}

@media (max-width:600px){
  .config-block-image{
      max-width:400px
  }
}



@media (max-width:450px){
  .config-block-image{
      max-width:300px
  }
}


@media (max-width:350px){
  .config-block-image{
      max-width:250px
  }
}
